@model List<Student>;
@{
    ViewData["Title"] = "Student Page";
  // List<Student> students = (List<Student>) ViewBag.studentList;
      List<Student> students = Model;


}

<div class="text-center">
    <h1 class="display-4">Welcome Student Page</h1>
    <table class="table table-hover">
        <thread>
            <th>ID</th>
            <th>NAME</th>
            <th>Gender</th>
            <th>Birth</th>
            <th>ID_Lop</th>
        </thread>
        <tbody>
            @foreach (var student in students)
            {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.Name</td>
                <td>@student.Gender</td>
                <td>@student.Birth</td>
                <td>@student.Id_Lop</td>
            </tr>
            }
        </tbody>
    </table>
</div>
